@model KindergartenCRUD.Pages.Kindergartens.CreateModel

<h2>Create Kindergarten</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Kindergarten.GroupName"></label>
        <input asp-for="Kindergarten.GroupName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Kindergarten.ChildrenCount"></label>
        <input asp-for="Kindergarten.ChildrenCount" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Kindergarten.KindergartenName"></label>
        <input asp-for="Kindergarten.KindergartenName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Kindergarten.Teacher"></label>
        <input asp-for="Kindergarten.Teacher" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
<a asp-page="./Index">Back to List</a>
